.link {
    -o-transition: opacity .5s ease-out;
    -ms-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    /* ...and now override with proper CSS property */
    transition: opacity .5s ease-out;
    opacity: 1;
}

.link:hover {
    opacity: 0.5;

}